/*reset css*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*generals*/


header{
    height:50px;
    width: 100vw;
    position: relative;
  
}

main{
    padding: 20 5px;
    height: calc(100vh - 150px);
    overflow-y:scroll ;
    justify-content: center;
    align-items: space-between;
    align-content: center;
}
img{
    height: 100%;
    margin: 5px;
}

.dx{
    position: absolute;
    top: 50%;
    right: 5%;
    
}
/*comandi*/
.lar-min{
    width: 20%;
}

.lar-max{
    width: 80%;
}
.flex{
    display: flex;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;

}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

/*main*/
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.column{
    width: 200px;
    height: calc(60vh/4);
    border: 1px dotted white;
    padding: 2px;
    flex-shrink: 0;
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0;
    position: relative;

}
.bg-grey-sq{
    color: white;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
}
.nome{
    position: absolute;
    bottom: 0;
    left: 10px;
}
/*footer*/
footer{
    
   position: relative;
    background-color: grey;
    height: 100px;
    padding: 20px;   
}

.mif-vid{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 35%;
    border: 1px dotted black;
    align-items: center;
    

}

.folder-center{
    text-align: center;
    
    height: 100%;
    width: 100%;
    border: 1px dotted black;
}

.fine-chiamata{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    background-color: rgb(60, 59, 59);
}

.accento{
    height: 100%;

}

.mic{
    height: 100%;
    text-align: center;
}

/*colors*/
.bg-black{
    background-color: black;
}

.bg-grey{
    background-color: grey;
}

.col-white{
    color: white;
}